<header class="of-header-main">
    <a href="/" class="of-brand"><!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In  -->
      <picture class="of-brand__picture">
        <source srcset="/images/logo.svg" media="(min-width: 992px)">
        <img src="/images/logo-sm.svg" alt="">
      
      </picture> 
        </a>
    <nav class="of-nav-main nav-collapse">
      <ul class="of-nav-main__items menu-items">
        <li class="of-nav-main__item"><a class="of-link-list__a {{ if eq .URL "/" }} of-m-active {{end}}" href="/">Home</a></li>
        {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="of-nav-main__item"><a class="of-link-list__a{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} of-m-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    <li class="of-nav-main__item dropdown"><a  href="#" class="has-dropdown of-link-list__a {{ if eq .URL "/documentation/" }} of-m-active {{end}}">Documentation</a>
      <ul class="of-nav-main__sub-items sub-menu">
        <li class="of-nav-main__sub-item"><a class="of-nav-main__sub-item__link" href="#">SDK Documentation</a></li>
        <li class="of-nav-main__sub-item"><a class="of-nav-main__sub-item__link" href="#">OLM Documentation</a></li>   
      </ul>
    </li>
    </ul>
    </nav>
   
    <div class="of-header-main__search">
      <input class="of-header-main__search__input" type="search">
    </div>
    <button id="nav-toggle" class="nav-toggle"></button>
  </header>