<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ $style := resources.Get "css/main.scss" }}
  {{ $style = $style | toCSS |minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link href="https://fonts.googleapis.com/css?family=Overpass:400,800&display=swap" rel="stylesheet">  
  <title>Welcome to Operator framework</title>
</head>
<body>
